#define APSTUDIO_READONLY_SYMBOLS 0
#include "resource.h"
LANGUAGE 9,1
IDD_SERVERGUI DIALOGEX 0,0,287,144
CAPTION "Dialog"
FONT 8,"MS Sans Serif",0,0
STYLE 0x80CE0080
BEGIN
  CONTROL "Server Status",IDC_STATUS_GROUP,"Button",0x50000007,8,7,274,133
  CONTROL "",IDC_SERVERSTATUS,"Edit",0x50810880,14,73,262,59,0x00000200
  CONTROL "",IDC_OVERALLSERVER,"Edit",0x58010004,16,20,260,48,0x00000200
END
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
FILEOS 0x00040004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004B0"
    BEGIN
      VALUE "CompanyName", "avisynth.org\0"
      VALUE "FileDescription", "TCPDeliver\0"
      VALUE "FileVersion", "1, 0, 1, 0\0"
      VALUE "InternalName", "TCPDeliver\0"
      VALUE "LegalCopyright", "Copyright © 2004-2006, Klaus Post. \0"
      VALUE "LegalTrademarks", "Released under GPL.\0"
      VALUE "OriginalFilename", "TCPDeliver.dll\0"
      VALUE "ProductName", "AviSynth TCPDeliver\0"
      VALUE "ProductVersion", "1, 0, 1, 0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000, 0x04B0
  END
END
IDD_CLIENTGUI DIALOGEX 0,0,281,186
CAPTION "TCP Deliver Client"
FONT 8,"MS Sans Serif",0,0
STYLE 0x50C00000
BEGIN
  CONTROL "",IDC_IP,"Edit",0x50010080,13,22,145,14,0x00000200
  CONTROL "",IDC_EDIT2,"Edit",0x50010080,181,23,31,14,0x00000200
  CONTROL "Port:",IDC_PORT_TEXT,"Static",0x50020202,157,22,21,13
  CONTROL "Connection Settings",IDC_CONNECTIONSETTIGS,"Button",0x50000007,7,7,265,39
  CONTROL "Reconnect",IDC_RECONNECT_BUTTON,"Button",0x50010000,220,22,44,15
  CONTROL "Connection status",IDC_STATIC_STATUS,"Button",0x50000007,7,54,265,30
  CONTROL "",IDC_STATUS,"Edit",0x50010880,13,65,249,15,0x00000200
  CONTROL "Statistics",IDC_STATIC_STATS,"Button",0x50000007,7,96,265,83
  CONTROL "",IDC_FRAME_INFORMATION,"Edit",0x50010880,16,108,249,12,0x00000200
  CONTROL "",IDC_TIMESTATS,"Edit",0x50010880,16,127,249,45,0x00000200
END
